[submodule "SwiftUnixSockAPI"]
	path = SwiftUnixSockAPI
	url = ./SwiftUnixSockAPI
[submodule "RustUnixSockAPI"]
	path = RustUnixSockAPI
	url = ./RustUnixSockAPI
[submodule "GoUnixSocketAPI"]
	path = GoUnixSocketAPI
	url = ./GoUnixSocketAPI
[submodule "TypeScriptUnixSockAPI"]
	path = TypeScriptUnixSockAPI
	url = ./TypeScriptUnixSockAPI
