[submodule "SwiftJanus"]
	path = SwiftJanus
	url = ./SwiftJanus
[submodule "RustJanus"]
	path = RustJanus
	url = ./RustJanus
[submodule "GoJanus"]
	path = GoJanus
	url = ./GoJanus
[submodule "TypeScriptJanus"]
	path = TypeScriptJanus
	url = ./TypeScriptJanus
